Repository MicrosoftDocs/mixed-reality, pull requests merged in 2022-11, with the labels that each got.

#682 Update MR Capture Studios Page 112322
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/how-it-works-mixed-reality-capture-studios.md
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/high-quality-streamable-free-viewpoint-video.pdf
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, needs-human-review

#686 Update extended eye tracking guides
  mixed-reality-docs/mr-dev-docs/develop/native/extended-eye-tracking-native.md
  mixed-reality-docs/mr-dev-docs/develop/unity/extended-eye-tracking-unity.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, needs-human-review

#671 Updated low-quality settings description
  mixed-reality-docs/mr-dev-docs/develop/unity/recommended-settings-for-unity.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#669 Corrected picture shown in Unreal Insights tutorial
  mixed-reality-docs/mr-dev-docs/develop/unreal/unreal-insights.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#666 Fixes MicrosoftDocs/mixed-reality#658
  mrtk-unity/mrtk2/index.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, needs-human-review

#662 Updated deprecated names, typos and clarity adjustments.
  enthusiast-guide/set-up-windows-mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech, qualifies-for-auto-merge

#615 Update headset-display.md
  enthusiast-guide/headset-display.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech

#591 Updates to error descriptions and outdated Windows versions
  enthusiast-guide/error-codes.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech, needs-human-review
