Repository MicrosoftDocs/mixed-reality, pull requests merged in 2022-04, with the labels that each got.

#550 Made pointer architecture link more prominant
  mrtk-unity/features/input/pointers.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod

#559 Rephrase the title to make it clear this step is to "run the player" app instead of simply "setup".
  mixed-reality-docs/mr-dev-docs/develop/unity/unity-play-mode.md
Labels: Change sent to author, ready-to-merge, mixed-reality/prod, mr-dev/tech

#548 Fixed typo under profiling suggestions
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/understanding-performance-for-mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#569 Typride reduce unnecessary links
  mixed-reality-docs/mr-dev-docs/index.yml
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#567 Update scene-understanding-SDK.md
  mixed-reality-docs/mr-dev-docs/develop/unity/scene-understanding-SDK.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#565 Updates-to-video-links-n-descriptions
  mixed-reality-docs/mr-dev-docs/whats-new/journey-to-mr-series.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#571 Update mixed-reality-capture-directx.md
  mixed-reality-docs/mr-dev-docs/develop/native/mixed-reality-capture-directx.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#573 GPU profiling improvements
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-10.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-11.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-12.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-13.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-14.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-15.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/images/pix-img-16.png
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/installing-pix-hololens.md
  mixed-reality-docs/mr-dev-docs/develop/unity/performance-recommendations-for-unity.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#574 "Support" was mispelled as "Suppprt"
  enthusiast-guide/troubleshooting-windows-mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech

#561 Fix the spelling of JavaScript
  mixed-reality-docs/mr-dev-docs/develop/javascript/webxr-overview.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#442 Minor content updates
  maquette/overview/installation.md
  mixed-reality-docs/mr-dev-docs/discover/hologram.md
  mixed-reality-docs/mr-dev-docs/discover/mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#455 Fix Broken Link in WebXR Javascript Piano Tutorial
  mixed-reality-docs/mr-dev-docs/develop/javascript/tutorials/babylonjs-webxr-piano/keyboard-interaction-03.md
  mixed-reality-docs/mr-dev-docs/develop/javascript/tutorials/babylonjs-webxr-piano/keyboard-model-02.md
Labels: do-not-merge

#443 Update mrtk-packages.md
  mrtk-unity/packages/mrtk-packages.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod

#457 Update openxr-release-notes.md
  mixed-reality-docs/mr-dev-docs/develop/unity/openxr-release-notes.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#489 Updated to point to latest Github project
  mixed-reality-docs/mr-dev-docs/develop/unity/qr-code-tracking-unity.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#504 Update openxr-troubleshooting.md
  mixed-reality-docs/mr-dev-docs/develop/native/openxr-troubleshooting.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#513 Update using-ar-foundation.md
  mrtk-unity/supported-devices/using-ar-foundation.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod

#515 Update unreal-uxt-ch4.md
  mixed-reality-docs/mr-dev-docs/develop/unreal/tutorials/unreal-uxt-ch4.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#527 Removing duplicate code
  mixed-reality-docs/mr-dev-docs/develop/javascript/tutorials/babylonjs-webxr-piano/keyboard-model-02.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#531 Controller troubleshooting documentation fixes.
  enthusiast-guide/motion-controller-problems.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech

#533 Adjust trivially incorrect mentions of "Windows Mixed Reality home"
  enthusiast-guide/your-mixed-reality-home.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech

#562 Updated broken link. Ref: GitHub issue #560
  mixed-reality-docs/mr-dev-docs/develop/unreal/unreal-qr-codes.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#563 Update-broken-link
  enthusiast-guide/before-you-buy-faqs.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech

#564 Update broken link for optimizing scripts
  mixed-reality-docs/mr-dev-docs/develop/unity/performance-recommendations-for-unity.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#566 Added link to Azure Kinect overview
  mixed-reality-docs/mr-dev-docs/discover/mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech

#576 Fix typo
  world-locking-tools/Documentation/HowTos/InitialSetup.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod

#577 fix Mission AR link
  mixed-reality-docs/mr-dev-docs/develop/includes/tabs-samples.md
Labels: do-not-merge, review-team-triage
