Repository MicrosoftDocs/mixed-reality, pull requests merged in 2023-01, with the labels that each got.

#689 replace wrong procedures + minor typos
  enthusiast-guide/headset-display.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech, qualifies-for-auto-merge

#702 Update mixed-reality.md
  mixed-reality-docs/mr-dev-docs/discover/mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#709 Update spatial-sound-in-unity.md
  mixed-reality-docs/mr-dev-docs/develop/unity/spatial-sound-in-unity.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#707 Typo "Azure files"→"Azure Files"
  mixed-reality-docs/mr-dev-docs/develop/unity/tutorials/mr-azure-306.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#705 Update install-windows-mixed-reality.md
  enthusiast-guide/install-windows-mixed-reality.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, enthusiast-guide/tech, qualifies-for-auto-merge

#704 Update community.md
  mixed-reality-docs/mr-dev-docs/discover/community.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#693 Correcting video embed URL
  mixed-reality-docs/mr-dev-docs/design/gaze-and-commit.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#692 Update mrtk-standard-shader.md
  mrtk-unity/mrtk2/features/rendering/mrtk-standard-shader.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, qualifies-for-auto-merge

#690 Fix link in extended eye tracking doc
  mixed-reality-docs/mr-dev-docs/develop/native/extended-eye-tracking-native.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#708 Update spatial-mapping.md
  mixed-reality-docs/mr-dev-docs/design/spatial-mapping.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge
