Repository MicrosoftDocs/mixed-reality, pull requests merged in 2023-11, with the labels that each got.

#752 Add deprecation notice for Windows Holographic API
  mixed-reality-docs/mr-dev-docs/develop/native/holographic-remoting-create-remote-wmr.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#755 Update install-the-tools.md
  mixed-reality-docs/mr-dev-docs/develop/install-the-tools.md
Labels: Change sent to author, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#754 Update hololens-emulator-archive.md
  mixed-reality-docs/mr-dev-docs/develop/advanced-concepts/hololens-emulator-archive.md
Labels: Change sent to author, do-not-merge, mixed-reality/prod, mr-dev/tech, qualifies-for-auto-merge

#726 fixed typo on release date
  mrtk-unity/mrtk3-overview/changelogs/mrtk3-pre-14-changelog.md
Labels: Change sent to author, ready-to-merge, mixed-reality/prod, qualifies-for-auto-merge

#725 fixed typo on release date
  mrtk-unity/mrtk3-overview/changelogs/mrtk3-pre-15-changelog.md
Labels: Change sent to author, ready-to-merge, mixed-reality/prod, qualifies-for-auto-merge
